
.CalculatoDisplay.dark{
    
    color: white;
    width: 80%;
    height: 150px;
    background-color: rgb(160, 171, 40);
    
}
.CalculatoDisplay.light{
    color: black;
    width: 80%;
    height: 150px;
    background-color: rgb(89, 11, 184);
}