body{
  background-color: grey;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontal centering */
  background-color: grey; 
  width: 100%;
  padding-top: 0; 
}
.dark{
 color: aqua;
 text-align: center;
 display: flex;
 flex-direction: column;
 align-items: center; /* Horizontal centering */
 background-color: grey; 
 width: 100%;
 padding-top: 0; 
  
}
.button-dark {
  background-color: black;
  color: white;
}

.button-light {
  background-color: white;
  color: black;
}


